@font-face {
    font-family: "SF Pro";
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: local('San Francisco Regular'), url(../fonts/SF-Pro.ttf) format('truetype');
  }

.keyboard-rows{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}
.row{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button{
    font-family: "SF Pro";
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background: #d3d6da;
    padding: 22px 18px;
    border: none;
    text-transform: uppercase;
}

@media only screen and (max-width: 36em) {
    button{
        padding: 12px 8px;}
}

.key-correct{
    background: #6aaa64;
    color: #fff;
}

.key-present{
    background: #c9b458;
    color: #fff;
}

.key-absent{
    background: #787c7e;
    color: #fff;
}